@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id='messages'>
    @foreach(var message in Model.Messages)
    {
        <p>@(message.CreatedAt.ToString() + " - " + message.SerialNumber + " - " + message.Text)</p>
    }
</div>
